// font-family: 'Barlow', sans-serif;
// font-family: 'Fraunces', serif;
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  img {
    background-color: red;
    height: 50px;
  }
}
